<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Entry Page</title>
  <style> body{background-color:lightblue;}
          body{color:black;}
  </style>
</head>
<body>
<div class="container">
  <h2>Auto complete</h2>
       <br></br>    
    
    <h3>some eg. you can try</h3>
    <h5>The Lord is describing the field of activities and the knower</h5>
    <h5>The Supreme Personality of Godhead, Krsna, is the highest authority</h5>
    <h5>From all the authoritative statements of the great sages</h5>
    <h5>This process of knowledge is sometimes misunderstood by less intelligent</h5>
    <h5>As for the knowledge outlined here, the items may be analyzed as follows</h5>    
  <form action="process" method="post">
   <div class="form-group">

   <div class="form-group">
       <br></br>
    <label for="name">enter the raw text:</label>
    <textarea class="form-control", id="raw" name="raw",rows="1000" cols="50">
</textarea>
   </div>
<input type="submit" value="Check">

</div>
</form>
  
</div>
</body>
</html>